.carousel {
  width: 410px;
  height: 306px;
  margin: 0 auto;
  margin-bottom: $margin-size * 1.5;
}

.carousel .carousel-cell {
  width: 100%;
  height: 100%;
}

.carousel .carousel-cell img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.carousel .flickity-prev-next-button {
  background: transparent;
  top: calc(100% + 20px);
  width: 20px;
  height: 20px;
  &.previous {
    left: 0;
  }
  &.next {
    right: 0;
  }
  svg path {
    fill: $gray;
  }
}

.carousel .flickity-page-dots {
  display: none;
}
