/* VISITOR COUNTER */

#counter {
  margin-top: 57px;
  margin-bottom: 57px;
  left: $margin-left;
  width: 100%;
  text-align: center;
  .number {
    font-size: 11px;
    // -webkit-font-smoothing: antialiased;
    color: $white;
    background: $gray-light;
    padding: 4px 6px;
    display: inline-block;
    margin: 1px;
  }
  .visitors {
    text-align: center;
    margin-top: 1.2em;
    letter-spacing: 0.1em;
    color: $gray-light;
  }
  &.bottom {
    position: fixed;
    bottom: 0;
    z-index: -1;
  }
}