/* BASE */
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-copy;
  font-size: $size-copy;
  color: $gray;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

textarea, input {
  outline: none;
  width: 100%;
  display:block;
}

.container {
  width: 100%;
  height: 100%;
  margin: $body-margin;
  padding: 0;
}

.content {
  margin-top: 57px;
  margin-left: $margin-left;
  width: $container-width;
  min-height: 70%;
}

.wpc-weather-id {
  margin-left: 0 !important;
}

/* COMPONENTS */
.bold-gray {
  font-family: $font-header;
  font-size: $size-header;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.bold-violet {
  font-family: $font-header;
  font-size: $size-header;
  color: $violet;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.lime-highlight {
  background: $lime;
  font-size: $size-header;
  padding: 2px 0;
  text-transform: uppercase;
  letter-spacing: 0.22em;
}

.subhead {
  margin: 40px 0;
  text-align: center;
  font-family: $font-header;
  font-size: 10.5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.white-highlight {
  background: $white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $size-header;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.brown-highlight {
  background: $brown;
  color: $white;
  font-family: $font-header;
  font-size: $size-header;
  letter-spacing: 0.1em;
  padding: 0 2px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

.dayglow-underline {
  border-bottom: 1px solid $lime;
  font-family: $font-header;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: $white;
}

.tiny {
  font-size: 0.7em;
  line-height: 1.4;
  vertical-align: 3px;
  .brown {
    color: $brown;
    text-transform: uppercase;
  }
}