/* BASE */
html {
  width: 100%;
  position: relative;
  z-index: -1;
}

body {
  font-family: $font-copy;
  font-size: $size-copy;
  color: $gray;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

textarea, input {
  outline: none;
  width: 100%;
  display:block;
}

.container {
  width: $container-width;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 228px;
  position: relative;
  @include breakpoint($container-width) {
    width: 100vw;
  }
}

.content {
  padding-left: 10px;
  width: 515px;
  margin: 67px auto;
  @include breakpoint($container-width) {
    width: 100%;
    margin-top: 97px;
    padding-left: 0;
  }
}

.content > *, .container > .wpcf7 {
  position: relative;
  z-index: 1;
}

.content ul {
  list-style: none;
  margin-left: $margin-size / 2;
  padding-left: 0;
  margin-bottom: $margin-size;
  li {
    padding-left: 1em;
    text-indent: -1em;
  }
  li:before {
    content: "+";
    padding-right: 5px;
  }
}

.content p a {
  font-size: 11px;
  line-height: 18px;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  z-index: 999;
  top: -2px;
  &:hover {
    top: 0;
    transform: none;
  }
}

.wpc-weather-id {
  margin-left: 0 !important;
}

.hidden {
  display: none;
}

/* COMPONENTS */
.centered {
  text-align: center;
}

.tiny {
  font-size: 0.7em;
  line-height: 1.4;
  vertical-align: 3px;
  .brown {
    color: $brown;
    text-transform: uppercase;
  }
}