.night {
  color: $white;
  nav a, input[type="submit"] {
    background: $gray;
    color: $white;
    border: 1px solid $white;
  }
  #counter .visitors {
    color: $white;
  }
  .dayglow-underline {
    color: $gray;
  }
  input, textarea {
    border: 1px solid $white;
    color: $white;
    background: transparent;
  }
  .carousel .flickity-prev-next-button {
    svg path {
      fill: $white;
    }
  }
}