.night {
  color: $white;
  nav a {
    background: $gray;
    color: $white;
    border: 1px solid $white;
  }
  #counter .visitors {
    color: $white;
  }
  .dayglow-underline {
    color: $gray;
  }
}