.night {
  color: $white;
  cursor:  url(images/cursor/cursor-night.png), auto;
  nav a, input[type="submit"] {
    background: $gray;
    color: $white;
    border: 1px solid $white;
  }
  #counter .visitors {
    color: $white;
  }
  .lime-highlight {
    color: $gray;
  }
  .white-highlight {
    color: $gray;
  }
  input, textarea {
    border: 1px solid $white;
    color: $white;
    background: transparent;
  }
  .carousel .flickity-prev-next-button {
    svg path {
      fill: $white;
    }
  }
  .unit-wrapper .unit-box {
    border: 3px solid $white;
  }
  .pin-wrapper .pin-svg svg {
    path, line {
      stroke: $white;
    }
  }
}