.contact-form {
  margin: 0 auto;
  max-width: $container-width - 80px;
}

form label {
  margin-left: 52px;
  @include breakpoint($container-width) {
    margin-left: 0;
    &:first-child {
      margin-left: 0;
    }
  }
}

form br {
  display: none;
}

.input-container {
  max-width: $container-width;
}

input, textarea {
  border-radius: 0 !important;
  border: 1px solid $gray;
  display: block;
  font-family: $font-copy;
  font-size: $size-copy;
  color: $gray;
  margin: 1em 0;
  padding: 10px;
  background: transparent;
  letter-spacing: inherit;
}

div.wpcf7-response-output {
  margin: 0;
}

form > p {
  margin: 0;
}

input[type="submit"] {
  margin: 0;
  margin-bottom: 20px;
  width: inherit;
  line-height: inherit;
}

input[type="submit"]:active {
  color: $lime;
  border: 1px solid $lime;
}

label {
  margin-left: $margin-left;
}

div.wpcf7-mail-sent-ok {
  border: 2px solid $lime !important;
}