form {
  margin-top: -2em;
}

form label {
  margin-left: 78px;
  @include breakpoint($container-width) {
    margin-left: 0;
    &:first-child {
      margin-left: 0;
    }
  }
}

form br {
  display: none;
}

#wpcf7-f66-p16-o1 > form > p:nth-child(2) > br:nth-child(2)

.input-container {
  max-width: $container-width;
}

input, textarea {
  border: 1px solid $gray;
  display: block;
  font-family: $font-copy;
  font-size: $size-copy;
  color: $gray;
  margin: 1em 0;
  padding: 10px;
  background: transparent;
}

div.wpcf7-response-output {
  margin: 0;
}

input[type="submit"] {
  width: inherit;
  line-height: inherit;
}

input[type="submit"]:active {
  color: $lime;
  border: 1px solid $lime;
}

label {
  margin-left: $margin-left;
}