//
// Main
//
.gray-background {
  background: $gray;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}

.sunset-gradient {
  background: linear-gradient(to left, $violet, $lime);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}

.pin-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.pin-wrapper .pin-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pin-wrapper .pin-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  &:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  &:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.pin-wrapper .map-pin {
  position: absolute;
}

.pin-name {
  text-align: center;
  font-family: $font-header;
  font-size: 10.5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pin-minutes {
  text-align: center;
  font-size: 8px;
  margin-top: -8px;
}
