.unit-wrapper {
  width: $content-width / 3 - 12px;
  margin-right: 5px;
  margin-top: $margin-left;
  display: inline-block;
  @include breakpoint($container-width) {
    width: calc(50% - 20px);
    margin-right: 10px;
  }
}

.unit-wrapper .unit-box {
  position: relative;
  height: $content-width / 3 + 12px;
  border: 3px solid $gray;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
    border: 3px solid $violet;
    color: $violet;
  }
  @include breakpoint($container-width) {
    height: 200px;
  }
}

.unit-svg {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 35px;
  svg {
    width: 50px;
    height: 35px;
  }
}

.unit-detail .unit-svg {
  bottom: 20px;
  right: 20px;
}

.unit-detail {
  text-align: right;
  position: relative;
  height: calc(100vh - 67px - 40px);
}

.unit-detail .unit-detail-box {
  text-align: left;
  border: 3px solid $violet;
  height: 100%;
  width: 100%;
  position: relative;
  background: $white;
}

.unit-detail .unit-detail-name {
  position: absolute;
  top: 60px;
  left: 80px;
  z-index: 999;
}

.unit.carousel {
  height: 100%;
  margin: 0;
}

.unit.carousel .carousel-cell img {
  max-height: 100%;
  max-width: 100%;
}

.unit.carousel .flickity-prev-next-button {
  top: 50%;
  width: 30px;
  height: 30px;
  svg path {
    fill: $violet;
  }
}

.close {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $violet;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}