@font-face {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 400;
    src: local('Arial Black'), local('ArialBlack-Regular'),
        url(http://allfont.net/cache/fonts/arial-black_f77872a08e22eda1204a0a2be2d8aab8.woff) format('woff'),
        url(http://allfont.net/cache/fonts/arial-black_f77872a08e22eda1204a0a2be2d8aab8.ttf) format('truetype');
}