/////////////////////////////////////////////////////////////////////////
//
// Variables
//
/////////////////////////////////////////////////////////////////////////

// Colors
$gray: #77787B;
$gray-light: #9D9FA2;
$violet: #5600D9;
$lime: #B3FF00;
$brown: #C97500;
$white: #FFFFFF;

// Fonts stacks
$font-header: "Arial Black", Arial, Helvetica, sans-serif;
$font-copy: Georgia, serif;

// Font sizes
$size-header: 11px;
$size-copy: 15px;
$line-height-copy: 18px;

// Spacing
$body-margin: 14px;
$margin-size: 40px;
$margin-left: 26px;
$container-width: 515px;
